# Assignment: Preparing Data for Analysis (Modified Titanic)

![](https://github.com/kaopanboonyuen/2110446_DataScience_2021s2/raw/main/%20files/hw.png)

# 1) Load data & review the data

How many rows are there in the "titanic_to_student.csv"?

In [1]:
#Import the libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
file = 'titanic_to_student.csv'

df = pd.read_csv(file)
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,2,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0,PC 17599,71.2833,C85,C
1,1,4,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0,113803,53.1000,C123,S
2,2,6,0.0,3.0,"Moran, Mr. James",male,NaN,0.0,0,330877,8.4583,NaN,Q
3,3,8,0.0,3.0,"Palsson, Master. Gosta Leonard",male,2.0,3.0,1,349909,21.0750,NaN,S
4,4,10,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0,237736,30.0708,NaN,C

In [4]:
def load():
   file = 'titanic_to_student.csv'
   df =  pd.read_csv(file)
   df.drop(df.columns[df.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
   return df

   # df.head()

In [6]:
df.shape[0]

445

# 2) Drop unqualified variables

Drop unqualified variables

Drop variables with missing > 50%

Drop categorical variables with flat values > 70% (variables with the same value in the same column)

How many columns do we have left?

In [78]:
df = load()
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [81]:
df.isnull().sum()
tmp = df.isnull().sum()/df.shape[0]

df = df.drop(columns = tmp[tmp > 0.5].index)

for col in df.columns:
    if(df[col].dtype == 'object'):
        proportions = df[col].value_counts(normalize=True)
        print(proportions)
        if any(proportions > 0.7):
            print(col)
            df.drop(columns=[col],inplace=True)
df.columns.size

Name
Behr, Mr. Karl Howell                           0.002309
Daly, Mr. Peter Denis                           0.002309
Aks, Mrs. Sam (Leah Rosen)                      0.002309
Lines, Miss. Mary Conover                       0.002309
Svensson, Mr. Johan                             0.002309
                                                  ...
Bonnell, Miss. Elizabeth                        0.002309
Nasser, Mrs. Nicholas (Adele Achem)             0.002309
Palsson, Master. Gosta Leonard                  0.002309
Moran, Mr. James                                0.002309
Futrelle, Mrs. Jacques Heath (Lily May Peel)    0.002309
Name: proportion, Length: 433, dtype: float64
Sex
male      0.647191
female    0.352809
Name: proportion, dtype: float64
Ticket
347082      0.009390
347088      0.007042
345773      0.007042
CA 2144     0.007042
PC 17760    0.007042
              ...
248698      0.002347
2649        0.002347
244373      0.002347
111369      0.002347
347078      0.002347
Name: proportion, Length: 359, dtype: float64
Embarked
S    0.7125
C    0.2200
Q    0.0675
Name: proportion, dtype: float64
Embarked

10

# 3) Remove all rows with missing target (the variable "Survived")

Remove all rows with missing targets (the variable "Survived")

How many rows do we have left?

In [91]:
df = load()

# df['Survived'].isnull()


df[~df['Survived'].isnull()].shape[0]

432

# 4) Handle outliers 
Handle outliers

For the variable “Fare”, replace outlier values with the boundary values

If value < (Q1 - 1.5IQR), replace with (Q1 - 1.5IQR)

If value > (Q3 + 1.5IQR), replace with (Q3 + 1.5IQR)

What is the average (mean) of “Fare” after replacing the outliers (round 2 decimal points)?

Hint: Use function round(_, 2)

In [104]:
df = load()

col = 'Fare'

print(df[col].mean())

q1 = df[col].quantile(0.25)
q3 = df[col].quantile(0.75)
iqr = q3 - q1   

idx = df[df[col] > q3 + 1.5*iqr].index

df.loc[idx,col] = q3 + 1.5*iqr

idx = df[df[col] < q1 - 1.5*iqr].index

df.loc[idx,col] = q1 - 1.5*iqr

round(df[col].mean(),2)

34.23847280898876

np.float64(26.27)

# 5) Impute missing value

Impute missing value

For number type column, impute missing values with mean

What is the average (mean) of “Age” after imputing the missing values (round 2 decimal points)?

Hint: Use function round(_, 2)

In [118]:
# pd.api.types.is_numeric_dtype(df.columns)
df = load()

col = 'Age'
idx = df[col].isnull()

df.loc[idx,col] = df[col].mean()

df[col].mean()

np.float64(29.136361111111107)

# 6) Convert categorical to numeric values

Convert categorical to numeric values

For the variable “Embarked”, perform the dummy coding.

What is the average (mean) of “Embarked_Q” after performing dummy coding (round 2 decimal points)?

Hint: Use function round(_, 2)

In [122]:
df = load()
col = 'Embarked'
# df[col].unique()

dummies = pd.get_dummies(df['Embarked'], prefix='Embarked')

df['Embarked_Q'] = dummies['Embarked_Q']

df['Embarked_Q'].mean()

np.float64(0.060674157303370786)

# 7) Partition data
Split train/test split with stratification using 70%:30% and random seed with 123

Show a proportion between survived (1) and died (0) in all data sets (total data, train, test)

What is the proportion of survivors (survived = 1) in the training data (round 2 decimal points)?

Hint: Use function round(_, 2), and train_test_split() from sklearn.model_selection

In [31]:
df = load()
df['Survived'].isnull().sum()

np.int64(13)

In [29]:
from sklearn.model_selection import train_test_split

df = load()

# df.drop(df['Survived'].isnull().index,inplace=True)

print(df['Survived'].isnull().sum())
df.drop(df[df['Survived'].isnull()].index,inplace=True)

train, test = train_test_split(df, test_size=0.3, random_state=123)

# train['Survived'].sum()/train.shape[0]
train['Survived'].sum()/train.shape[0]

13

np.float64(0.40066225165562913)

In [35]:
df = load()


df.value_counts("Survived")

Survived
0.0    252
1.0    180
Name: count, dtype: int64