In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()


def load():
    global df
    df = pd.read_csv('bank-st.csv')

In [40]:
load()

In [41]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,46,admin.,married,unknown,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,59,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,49,blue-collar,married,unknown,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,54,management,married,basic.4y,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,54,blue-collar,divorced,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41153,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41154,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41155,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41156,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41157,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [17]:
df['y'].value_counts().max()

np.int64(36518)

In [39]:
df.drop_duplicates(inplace=True)
df.replace('unknown', None, inplace=True)
df.replace('nonexistent', None, inplace=True)

dp = []
for col in df.columns: 
    norm = df[col].value_counts(normalize=True).max()
    print(col,norm)
    if norm > 0.99:
        dp.append(col)
df.drop(columns=dp, inplace=True)

age 0.04731930199776406
job 0.25314732902347736
marital 0.6051621056724833
education 0.2955572838185972
default 0.7912798327905507
housing 0.5238905361396005
loan 0.8242599523647499
contact 0.6351771739658776
month 0.3338599134788315
day_of_week 0.209449278180139
duration 0.004131628833908521
campaign 0.42786662129976183
pdays 0.9631798959801682
previous 0.863291692995674
poutcome 0.863291692995674
emp.var.rate 0.3944004277451028
cons.price.idx 0.18791620084576874
cons.conf.idx 0.18791620084576874
euribor3m 0.0689738978272493
nr.employed 0.3944004277451028
y 0.8872551402323433

In [34]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,46,admin.,married,None,no,no,no,telephone,may,mon,...,1,999,0,None,1.1,93.994,-36.4,4.857,5191.0,no
1,59,technician,married,None,no,yes,no,telephone,may,mon,...,1,999,0,None,1.1,93.994,-36.4,4.857,5191.0,no
2,49,blue-collar,married,None,no,no,no,telephone,may,mon,...,1,999,0,None,1.1,93.994,-36.4,4.857,5191.0,no
3,54,management,married,basic.4y,None,yes,no,telephone,may,mon,...,1,999,0,None,1.1,93.994,-36.4,4.857,5191.0,no
4,54,blue-collar,divorced,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,None,1.1,93.994,-36.4,4.857,5191.0,no

In [38]:
df['poutcome'].value_counts(dropna=False)

poutcome
None       35521
failure     4252
success     1373
Name: count, dtype: int64

In [21]:
dp

[]